@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Outfit:wght@500&display=swap');

.rootdetail{
    display: flex;
    flex-direction: row;
    margin-top: 46px;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 7px ;
    width: 930px;
    align-items: center;
    margin-left: 185px;
    position: relative;
    height: 500px ;
    background: #e7e3dd;
}

.imagedetail{
    width: 500px;
    height: 450px;
    padding: 0;
    margin: 0;
    margin-left: -100px;
    margin-top: 110px;
}


.imgdetail{
    width: 530px;
    height: 360px;
    object-fit: cover;
    border-radius:3px;
    object-position: 50% 25%;
    background-size: 100%;
    transition: all ease-in-out .5s;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: -10px;
    box-shadow: -5px 5px 10px 5px rgba(65, 42, 2, 0.3);   
    filter: brightness(90%);                             
}


.breedname{
    font-family: 'DM Serif Display';
    font-size: 40px;
    color: #7d4928;
    padding: 0;
    margin-left: 60px;
    align-self: center;
}


.infodetail{
    margin-left: 50px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction:column;
    width: 400px;
    height: 400px;
    margin-top: -50px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    

}

.temperamentd{
    color: #7d4928;
}

.temperamentd p{
    color: blue;
}
 .app{
    background-color: #c3b9ad;;
 }