@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Signika+Negative:wght@600&display=swap');

.rootdetail{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: center;
    border-radius: 7px ;
    width: 970px;
    align-items: center;
    margin-left: 176px;
    position: relative;
    height: 530px ;
    background: #e4dbd3;
    box-shadow: 15px 10px 5px 5px rgba(2, 2, 1, 0.39);   
}

.imagedetail{
    width: 500px;
    height: 450px;
    padding: 0;
    margin: 0;
    margin-left: -130px;
    margin-top: 110px;
}


.imgdetail{
    width: 530px;
    height: 360px;
    object-fit: cover;
    border-radius:3px;
    object-position: 50% 25%;
    background-size: 100%;
    transition: all ease-in-out .5s;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 3px;
    box-shadow: 6px 5px 5px 3px rgba(8, 5, 0, 0.568);    
    filter: brightness(90%);                             
}


.breedname{
    font-family: 'DM Serif Display';
    font-size: 40px;
    color: #7d4928;
    padding: 0;
    margin-left: 60px;
    align-self: center;
    position: absolute;
    top: -20px;

}


.infodetail{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction:column;
    width: 400px;
    height: 400px;
    margin-top: 80px;
    padding: 0;
    margin-left: 69px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.infodetail p{
    margin-bottom: 30px;
    box-shadow: 6px 5px 5px 1px rgba(2, 2, 1, 0.39);   
    border-radius: 5px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dbcfc4
}

 .app{
    background-color: #c3b9ad;
    height: 100%;
    margin-bottom:  100px;
    padding: 0;
    position: absolute;
    width: 100%;
 }

 .weightdet{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
 }

 .heightdet{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content:space-around;
 }