@font-face {
    font-family: 'GoodDog Plain';
    font-style: normal;
    font-weight: normal;
    src: local('GoodDog Plain'), url('GOODDP__.woff') format('woff');
    }


    .full{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background: url("../../images/doglanding.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: absolute
}
.imgfondo{
    height: 100vh;
    width: 100%;
}

.logo{
    display: flex;
    margin-left: 71%;
    margin-top: 5%;
    
}

.title{
    display: flex;
    margin-left: 68%;
    font-family: "GoodDog Plain";
    font-size: 60px;
    /* margin-top: 5%; */
}

.description{
    display: flex;
    margin-left: 65% ;
    margin-top: 4%;
    font-family: "GoodDog Plain";
    font-size: 35px;
    color: #535c68;

}

.home{
    display: flex;
    margin-left: 49%;
    margin-top: -46%;
    font-family:"GoodDog Plain" ;
    font-size: 30px;
    padding: 7px 13px;
    border: 3px solid;
    border-radius: 9px;
    text-decoration: none;
    border-left: 1px solid rgba(255, 255, 255);
    border-top: 1px solid rgba(255, 255, 300);
    background-color:#e58e26
    
}
.home:hover {
    transform: scale(1.1);
    text-decoration: none;
    cursor:pointer;
}
.home{animation:rotate-center 1s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

.patitas{
    display: flex;
    margin-left: 66%;
    margin-top: -11%;
}